.p-news{
    padding-bottom: 30px;
  }
  .p-news__wrap{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 29px;
    margin-bottom: 80px;
  }
  .p-news__item{
    font-family: 'Montserrat', sans-serif;
    background: #F6F4F2;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    &.m-high{
        grid-row-end: span 2;
        color: #fff;
        .p-news__in{
            padding-right: 70px;
        }
        .p-news__in,
        .p-news__date{
            color: #fff;
        }
        .p-news__date{
            margin-bottom: 27px;
        }
        .p-news-link{
            &:after{
                background: url(../img/svg/p-n-arr-red.svg) no-repeat;
            }
        }
        .p-news-link{
            margin-top:18px;
        }
    }
  }
  
  .p-news__in{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    min-height: 300px;
    padding: 36px 35px 33px 43px;
    color: #141414;
    position: relative;
    z-index: 2;
    &:hover{
        .p-news__title{
            color: #E4002B;
        }
        .p-news-link{
            color: #E4002B;
            // &:after{
            //     background: url(../img/svg/p-n-arr-red.svg) no-repeat;
            // }
        }
    }
  }
  .p-news__date{
    font-size: 18px;
    line-height: 27px;
    color: #141414;
  }
  .p-news__title{
    font-size: 36px;
    line-height: 1.2;
    transition: color .3s ease;
  }
  .p-news__add{
    font-size: 18px;
    line-height: 27px;
  }
  .p-news__img{
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    &:before{
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background: #141414;
        opacity: 0.6;
    }
  }
  .p-news-link{
    display: inline-flex;
    align-items: center;
    font-size: 20px;
    line-height: 35px;
    margin-top: 7px;
    transition: color .3s ease;
    &:after{
        content: "";
        display: inline-block;
        width: 63px;
        height: 16px;
        background: url(../img/svg/p-n-arr-red.svg) no-repeat;
        margin: 0 0 0 17px;
        transition: background .3s ease;
    }
  }




.news-in {
    display: flex;
    padding-right: 147px;
    width: 100%;
	&.m-last {
		display: block;
		padding-right: 0;
		h2{
			margin-bottom: 45px;
		}
		.p-news__in{
			min-height: 365px;
		}
	}
	h3{
		margin-bottom: 31px;
	}
}
.news-in__aside {
    width: 355px;
    min-width: 355px;
    order: 2;
    padding-top: 21px;
}
.news-in__col {
    padding-right: 165px;
    order: 1;
    overflow: hidden;
    flex: 1;
}
.aside-item{
	margin-bottom: 37px;
    font-size: 24px;
    line-height: 34px;
	&:last-child{
		margin-bottom: 0;
	}
	&.m-flex{
		display: flex;
		// align-items: center;
	}
  }
  .aside-item__img{
	width: 103px;
	min-width: 103px;
	height: 103px;
	margin-right: 32px;
	margin-top: 4px;
	img{
		max-width: 100%;
		height: auto;
		max-height: 100%;
		border-radius: 50%;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
  }
  
  .aside-item__top{
    margin-bottom: 10px;
    font-size: 18px;
  }
  .p-socials{
	display: flex;
  }
  .p-socials__link{
	width: 46px;
	min-width: 46px;
	height: 46px;
	border-radius: 50%;
	margin-right: 9px;
	&:last-child{
		margin-right: 0;
	}
	&.m-fb{
		border: 2px solid #3B5999;
		background: url(../img/svg/p-fb.svg) center no-repeat; 
		&:hover{
			background: #3B5999 url(../img/svg/p-fb-h.svg) center no-repeat;
		}
	}
	&.m-vk{
		border: 2px solid #4680C2;
		background: url(../img/svg/p-vk.svg) center no-repeat;	
		&:hover{
			background: #4680C2 url(../img/svg/p-vk-h.svg) center no-repeat;
		}
	}
	&.m-tg{
		border: 2px solid #0088CC;
		background: url(../img/svg/p-tg.svg) center no-repeat;
		&:hover{
			background: #0088CC url(../img/svg/p-tg-h.svg) center no-repeat;
		}
	}
	&.m-tw{
		border: 2px solid #55ACEE;
		background: url(../img/svg/p-tw.svg) center no-repeat;
		&:hover{
			background: #55ACEE url(../img/svg/p-tw-h.svg) center no-repeat;
		}
	}
	&.m-ok{
		border: 2px solid #ED812B;
		background: url(../img/svg/p-ok.svg) center no-repeat;
		&:hover{
			background: #ED812B url(../img/svg/p-ok-h.svg) center no-repeat;
		}
	}
  }



.news-slider-control{
    display: flex;
    justify-content: flex-end;
    padding-right: 134px;
    margin-top: -65px;
}
.news-slider-control__wrap{
	display: inline-flex;
    align-items: center;
    position: absolute;
    right: -63px;
    top: 16px;
}
.news-slider-prev{
    display: inline-block;
    right: 10px;
    transition: all .3s ease;
    position: relative;
    z-index: 1;
    &:hover{
        right: 20px;
    }
}
.news-slider-prev__arr{
    width: 49px;
    height: 30px;
    background: url(../img/svg/prev.svg) center no-repeat;
    cursor: pointer;
}

.news-slider-next{
    display: inline-block;
    left: 10px;
    transition: all .3s ease;
    position: relative;
    z-index: 1;
    &:hover{
        left: 20px;
    }
}
.news-slider-next__arr{
    width: 49px;
    height: 30px;
    background: url(../img/svg/next.svg) center no-repeat;
    cursor: pointer;
}
.news-slider-counter{
    position: relative;
    &:before{
        content: "";
        display: block;
        width: 166px;
        height: 62px;
        position: absolute;
        left: -30px;
        top: -10px;
        background: #011C26;
        border-radius: 8px;
    }
}
.news-slider-counter__in{
    position: relative;
    font-size: 36px;
    line-height:1;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    min-width: 63px;
}
.news-in-media {
    padding-right: 120px;
    margin-bottom: 42px;
}

.news-in-media-slider-wrap{
	position: relative;
	padding-right: 135px;
}
.news-in-media__img{
	background: #F6F4F2;
	overflow: hidden;
  
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
	border-radius: 8px;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	img{
		display: block;
		max-width: 100%;
	}
  }

.view-link-wrap{
	margin-bottom: 43px;
	a{
		display: inline-flex;
		align-items: center;
		&:after{
			content: "";
			display: inline-block;
			width: 63px;
			height: 16px;
			background: url(../img/svg/n-arr.svg) center no-repeat;
      transition: background .3s linear;
			margin: 5px 0 0 17px;
		}
    &:hover{
      &:after{
        background: url(../img/svg/n-arr-h.svg) center no-repeat;
      }
    }
	}
}

.news-in__item{
	margin-bottom: 63px;
	&+.back-section{
		margin-top:0;
	}
}