<footer class="page-footer">

	<div class="page-footer__t">
		<div class="index-title">
			<div class="success__title__add">Let’s talk</div>
			<div class="index-title__add">
				We will reply within 24 hours
			</div>
		</div>
	</div>

	<div class="page-footer__b">
		<div class="container-fluid">
			<div class="page-footer-form">
				<div class="page-footer-form__wrap">
					<div class="page-footer-form__item">
						<input type="text" placeholder="Name *">
					</div>
					<div class="page-footer-form__item">
						<input type="email" placeholder="Email *">
					</div>
					<div class="page-footer-form__item">
						<textarea name="" placeholder="How we can help?*"></textarea>
					</div>
					<div class="page-footer-form__item m-file">
						<input type="text" id="custom-file-upload-input" value="Upload file">
						<label for="custom-file-upload" class="file-btn">
							<span>Browse</span>
						</label>
						<input type="file" name="attachment-file" id="custom-file-upload"/ value="Browse">
					</div>
				</div>
				<div class="page-footer-form__info">
					By submitting completed “Contact Us” form, your personal data will be processed by Nineseven LLC and its subsidiary entities worldwide. Please read our <a href="#">Privacy Notice</a> for more information. If you have any questions regarding your rights or would subsequently decide to withdraw your consent, please send your request to us.
				</div>
				<div class="page-footer-form__b">
					<div class="page-footer-form-agree">
						<div class="page-footer-form-agree__item">
							<input type="checkbox" id="ch-f1" name="check-footer">
							<label for="ch-f1">
								I am informed about processing of my personal data and the right to withdraw my consent
							</label>
						</div>
						<div class="page-footer-form-agree__item">
							<input type="checkbox" id="ch-f2" name="check-footer" checked>
							<label for="ch-f2">
								I agree to be included into Nineseven’s IT systems for the purpose of being contacted
							</label>
						</div>
					</div>
					<div class="page-footer-form-submit">
						<input type="submit" value="Send message">
					</div>
				</div>
			</div>
			<div class="page-footer__wrap">
				<div class="page-footer-l">
					
					<div class="page-footer-copy">
						<div class="page-footer-copy__icon">
							<img src="img/svg/in.svg" alt="">
						</div>
						<div class="page-footer-copy__txt">
							&copy;Nineseven 2010 – 2021. All rights reserved
						</div>
					</div>
				</div>
				<div class="page-footer-info">
					<div class="page-footer-info__top">
						Besides, there're a bunch of other ways to contact us:
					</div>
					<div class="page-footer-info__wrap">
						<div class="page-footer-info__item">
							<div class="page-footer-info__title">
								E-mail:
							</div>
							<div class="page-footer-info__txt">
								info@nineseven.ru
							</div>
						</div>
						<div class="page-footer-info__item">
							<div class="page-footer-info__title">
								Office:
							</div>
							<div class="page-footer-info__txt">
								Belarus<br>
								Minsk, Timiryazeva 72/1, app. 302
							</div>
						</div>
						<div class="page-footer-info__item">
							<div class="page-footer-info__title">Messengers:</div>
							<div class="mess">
								<a href="#" class="mess__link">
									<div class="mess__icon m-tg"></div>
								</a>
								<a href="#" class="mess__link">
									<div class="mess__icon m-watsapp"></div>
								</a>
								<a href="#" class="mess__link">
									<div class="mess__icon m-viber"></div>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>