<header class="page-header">
	<div class="container-fluid">
		<div class="page-header__wrap">
			<div class="page-header__prev">
				<a href="#" class="top-logo"></a>
				<a href="#" class="menu-btn">
					<span class="burger-icon"></span>
				</a>
				<nav class="top-nav">
					<div class="top-nav__item m-sub">
						<a href="#" class="top-nav__link">Services</a>
						<div class="top-nav-toggle"></div>
						<div class="submenu">
							<a href="#" class="submenu__link">test1</a>
							<a href="#" class="submenu__link">test2</a>
						</div>
					</div>
					<div class="top-nav__item">
						<a href="#" class="top-nav__link">Reviews</a>
						<div class="top-nav-toggle"></div>
					</div>
					
					<div class="top-nav__item">
						<a href="#" class="top-nav__link">Case studies</a>
						<div class="top-nav-toggle"></div>
					</div>
					<div class="top-nav__item m-sub">
						<a href="#" class="top-nav__link">About us</a>
						<div class="top-nav-toggle"></div>
						<div class="submenu">
							<a href="#" class="submenu__link">About us1</a>
							<a href="#" class="submenu__link">About us2</a>
						</div>
					</div>
					<div class="top-nav__item">
						<a href="#" class="top-nav__link">Technology stack</a>
						<div class="top-nav-toggle"></div>
					</div>
					
				</nav>
			</div>
			<div class="page-header__next">
				<div class="page-header-mag">
					<div class="page-header-mag__icon">
						<img src="img/content/t-magento.png" alt="">
					</div>
					<div class="page-header-mag__txt">
						Top-30 magento developers in Belarus
					</div>
				</div>
				<a href="mailto:info@nineseven.ru" class="top-nav__mail">info@nineseven.ru</a>
				<div class="page-header-lang">
					<a href="#" class="page-header-lang__link js-lang-toggle">En</a>
					<div class="page-header-lang__select">
						<a href="#" class="page-header-lang__item">Ru</a>
						<a href="#" class="page-header-lang__item">By</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>