<header class="page-header">
	<div class="container-fluid">
		<div class="page-header__wrap">
			<div class="page-header__prev">
				<a href="#" class="top-logo"></a>
				<a href="#" class="menu-btn">
					<span class="burger-icon"></span>
				</a>
				<nav class="top-nav">
					<div class="top-nav__item m-sub-service">
						<a href="#" class="top-nav__link">Services</a>
						<div class="top-nav-toggle"></div>
						<div class="submenu-services">
							<div class="submenu-services__wrap">
								<div class="submenu-services__item m-magento">
									<div class="submenu-services__img">
										<img src="img/svg/m-magento.svg" alt="">
									</div>
									<div class="submenu-services__top">
										Magento
									</div>
									<a href="#" class="submenu-services__link">Migrate to Magento 2</a>
									<a href="#" class="submenu-services__link">Integrate with 3d-party services</a>
									<a href="#" class="submenu-services__link"> Imrove UI/UX design</a>
									<a href="#" class="submenu-services__link">Support & maintenance</a>
									<a href="#" class="submenu-services__link">Custom development</a>
								</div>
								<div class="submenu-services__item m-other">
									<div class="submenu-services__img">
										<img src="img/svg/other.svg" alt="">
									</div>
									<div class="submenu-services__top">
										Other Services
									</div>
									<a href="#" class="submenu-services__link">Laravel development</a>
									<a href="#" class="submenu-services__link">Yii2 development</a>
									<a href="#" class="submenu-services__link">Bitrix development</a>
									<a href="#" class="submenu-services__link">Web-design</a>
									<a href="#" class="submenu-services__link">React&VueJS</a>
								</div>
							</div>
						</div>
					</div>
					<div class="top-nav__item">
						<a href="#" class="top-nav__link">Reviews</a>
						<div class="top-nav-toggle"></div>
					</div>
					
					<div class="top-nav__item">
						<a href="#" class="top-nav__link">Case studies</a>
						<div class="top-nav-toggle"></div>
					</div>
					<div class="top-nav__item m-sub">
						<a href="#" class="top-nav__link">About us</a>
						<div class="top-nav-toggle"></div>
						<div class="submenu">
							<a href="#" class="submenu__link">About us1</a>
							<a href="#" class="submenu__link">About us2</a>
						</div>
					</div>
					<div class="top-nav__item">
						<a href="#" class="top-nav__link">Technology stack</a>
						<div class="top-nav-toggle"></div>
					</div>
					
				</nav>
			</div>
			<div class="page-header__next">
				<div class="page-header-mag">
					<div class="page-header-mag__icon">
						<img src="img/content/t-magento.png" alt="">
					</div>
					<div class="page-header-mag__txt">
						Top-30 magento developers in Belarus
					</div>
				</div>
				<a href="mailto:info@nineseven.ru" class="top-nav__mail">info@nineseven.ru</a>
				<div class="page-header-lang">
					<a href="#" class="page-header-lang__link js-lang-toggle">En</a>
					<div class="page-header-lang__select">
						<a href="#" class="page-header-lang__item">Ru</a>
						<a href="#" class="page-header-lang__item">By</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>