
@font-face {
    font-family: 'circleregular';
    src: url('../fonts/circle/circle-regular/circle-regular.svg');
    src: url('../fonts/circle/circle-regular/circle-regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/circle/circle-regular/circle-regular.woff2') format('woff2'),
        url('../fonts/circle/circle-regular/circle-regular.woff') format('woff'),
        url('../fonts/circle/circle-regular/circle-regular.ttf') format('truetype'),
        url('../fonts/circle/circle-regular/circle-regular.svg#circleregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'circlelight';
    src: url('../fonts/circle/circle-light/circle-light.svg');
    src: url('../fonts/circle/circle-light/circle-light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/circle/circle-light/circle-light.woff2') format('woff2'),
        url('../fonts/circle/circle-light/circle-light.woff') format('woff'),
        url('../fonts/circle/circle-light/circle-light.ttf') format('truetype'),
        url('../fonts/circle/circle-light/circle-light.svg#circlelight') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'caveat';
    src: url('../fonts/caveat/caveat-regular/caveat.svg');
    src: url('../fonts/caveat/caveat-regular/caveat.eot?#iefix') format('embedded-opentype'),
        url('../fonts/caveat/caveat-regular/caveat.woff2') format('woff2'),
        url('../fonts/caveat/caveat-regular/caveat.woff') format('woff'),
        url('../fonts/caveat/caveat-regular/caveat.ttf') format('truetype'),
        url('../fonts/caveat/caveat-regular/caveat.svg#caveat') format('svg');
    font-weight: normal;
    font-style: normal;
}

.layout{
  	flex: 1 0 auto;
	overflow-x: hidden;
}


.wrapper{

}
.container-fluid{
	width: 100%;
    max-width: 1652px;
    padding: 0 40px;
	position: relative;
	margin: 0 auto;
    .m-index &{
        max-width: 1920px;
    }
}


.page-content{
	padding: 40px 0 75px;
}

.page-title{
	margin-bottom: 58px;
}
.indented{
	padding-left: 135px;
}
.indent {
    padding-left: calc(8.33333% - 20px);
    padding-right: calc(8.33333% - 20px);
}
.indent-l{
	padding-left: calc(8.33333% - 20px);
}


.index-title{
    .m-index &{
        width: 680px;
        text-align: right;
    }
    margin-bottom: 50px;
}
.index-title__add{
	font-size: 36px;
	max-width: 300px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 6px;
    .m-index &{
        display: inline-block;
	    text-align: right;
    }
}



.pagination{
    display: flex;
    flex-wrap:wrap;
}
.pagination__item{
    margin-right: 22px;
    background: #F6F4F2;
    border-radius: 8px;
    color: #141414;
    padding: 10px 25px;
    min-width: 63px;
    text-align: center;
    transition:all .3s ease;
    margin-bottom: 10px;
    position: relative;
    &:last-child{
        margin-right: 0;
    }
    &:hover,
    &.active{
        background: #011C26;
        color: #fff;
    }
    &.m-next{
        &:after{
            content: "";
            display: inline-block;
            width: 49px;
            height: 30px;
            background: url(../img/svg/page-arrow.svg) center no-repeat;
            position: absolute;
            right: -33px;
            top: 50%;
            transform: translateY(-50%);
            transition: all .3s ease;
        }
        &:hover{
            &:after{
                right: -42px;
            }
        }
    }
}

.cases-toggle{
    display: flex;
    flex-wrap:wrap;
    // position: sticky;
    top: 0;
    background: #fff;
    z-index: 15;
    margin-bottom: 40px;
    &.m-page{
        position: static;
        margin-bottom: 70px;
    }
  }
  .cases-toggle__item{
    display: inline-block;
    color: #141414;
    margin-right: 20px;
    margin-bottom: 20px;
    background: #F6F4F2;
    border-radius: 8px;
    padding: 10px 25px;
    transition: all .3s ease;
    
    &.active{
        color: #fff;
        background: #011C26;
        pointer-events: none;
    }
    &:hover{
        color: #fff;
        background: #011C26;
    }
  }
  
  .cases-toggle__separate{
    height: 60px;
  }

  .page-info {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 60px;
}
.page-back {
    color: #e4002b;
    display: inline-flex;
    align-items: center;
    font-family: circe-regular,Arial,sans-serif;
    margin-right: 40px;
    margin-bottom: 10px;
    &:before{
        content: "";
        display: inline-block;
        width: 20px;
        height: 37px;
        background: url(../img/svg/back.svg) no-repeat;
        margin-right: 17px;
    }
    &:hover{
        color: #91001b;
        &:before{
            background: url(../img/svg/back-h.svg) no-repeat;
        }
    }
}
.page-label {
    background: #011C26;
    color: #fff;
    border-radius: 4px;
    margin-right: 34px;
    padding: 10px 25px;
    margin-bottom: 10px;
    font-family: circe-regular,Arial,sans-serif;
}
.page-date {
    margin-bottom: 10px;
}

.back-section{
    display: inline-flex;
    align-items: center;
    color: #e4002b;
    margin: 65px 0;
    &:before{
        content: "";
        display: inline-block;
        width: 20px;
        height: 37px;
        background: url(../img/svg/back.svg) no-repeat;
        margin-right: 17px;
    }
    &:hover{
        color: #91001b;
        &:before{
            background: url(../img/svg/back-h.svg) no-repeat;
        }
    }
}