/*FONT-FAMILY*/
//$default-font:'tt_normsregular', Arial, sans-serif;
$default-font:'circleregular', sans-serif;

/*FONT-SIZE*/
$default-size-font: 24px;

/*BACKGROUND*/
$default-site-bg: #fff;
$alt-site-bg: #7A1774;

//$default-bg: #eeeeee;

/*TEXT-COLOR*/
$base-color: #141414;

$color-red: #E4002B;